/* COMMON */
.bbs h3 { margin: 110px 0 60px; }


.sub-visual { height: 500px; text-align: center; border-bottom: 2px solid #387ca1; }
.sv1 { background: url('../img/ando/layout/ando_camping_pc_main.png') no-repeat center / cover; }
@media (max-width: 1024px){

    .bbs h3 { margin: 60px 0 30px; }
}
@media (max-width: 768px){
    .sub-visual { height: 520px;  border-bottom-width: 1px; }
    .sv1 { background: url('../img/ando/layout/ando_camping_mo_main.png') no-repeat center / cover; }
}
